<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script type="text/javascript" src="javascripts/jquery-1.12.2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('body').append('With jquery-1.12.2.min.js');
    });
  </script>
</head>
<body>
  <div class="container">
     <div class="jumbotron">
        <h1>Your Awesome Website</h1>
        <p class="lead">
         This template include Susy 2.2.12 and Bootstrap 3.3.6
        </p>
        
        <p><a class="btn btn-lg btn-success" href="http://sam0512.blogspot.tw/2013/10/sass.html" role="button">Susy 中文教學</a></p>
        <p><a class="btn btn-lg btn-success" href="http://susydocs.oddbird.net/en/latest/" role="button">Susy Doc</a></p>
        <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com/css/" role="button">Bootstrap CSS Doc</a></p>
      </div>
  </div>
  
</body>
</html>